################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/chapter_02/.vs/chapter_02
/chapter_02/SimpleClass_02
/chapter_03/.vs
/chapter_04/.vs/chapter_04
/chapter_05/.vs
/Chapter_05_
/chapter_06/.vs/chapter_06
/chapter_06/.vs/ProjectEvaluation
/chapter_07/.vs
/chapter_09/.vs
/Chapter_10/.vs/chapter_10
/Chapter_10/.vs/ProjectEvaluation
/Chapter_10/01_MultipleCatchBlocks/bin/Debug/net8.0/01_MultipleCatchBlocks.deps.json
/Chapter_10/01_MultipleCatchBlocks/bin/Debug/net8.0/01_MultipleCatchBlocks.deps.json
/Chapter_10/01_MultipleCatchBlocks/obj/Debug/net8.0/ref/01_MultipleCatchBlocks.dll
/Chapter_10/01_MultipleCatchBlocks/obj/01_MultipleCatchBlocks.csproj.nuget.dgspec.json
