################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/chapter_02/.vs/chapter_02
/chapter_02/SimpleClass_02
/chapter_03/.vs
/chapter_04/.vs/chapter_04
/chapter_05/.vs
/Chapter_05_
/chapter_06/.vs/chapter_06
/chapter_06/.vs/ProjectEvaluation
/chapter_07/.vs
/chapter_09/.vs
/Chapter_10/.vs/chapter_10
